@use "./src/renderer/styles/colors" as colors;
.restore-query-modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;

  .modal-content {
    background: white;
    border-radius: 0.5rem;
    width: 80%;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    height: 80%;

    .modal-header {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      padding: 1% 2%;
      border-bottom: 0.0625rem solid #ccc;
      background-color: colors.$primary;

      .modal-title {
        flex: 1;
        font-weight: bold;
        font-size: 1.75rem;
        color: white
      }

      .close-button {
        background-color: transparent;
        border: none;
        font-size: 1.75rem;
        padding: 0;
        margin-left: auto;
        color: white
      }
    }
    .table-wrapper {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      gap: 1rem;
      height: 80%;
      margin-top:1%;
      padding: 0 2%;
      overflow: hidden;
      box-sizing: border-box;
    }

    .data-table {
      width: 100%;
      height: 100%;
      border-collapse: collapse;
      border: 0.0625rem solid #e5e7eb;
      display: flex;
      flex-direction: column;
      table-layout: fixed;
      box-sizing: border-box;


      thead, tbody {
        display: block;
        width: 100%;
        box-sizing: border-box;
      }

      tbody {
        flex: 1;                 /* 남은 공간 전부 사용 */
        overflow: hidden; /* 스크롤 제거 */
      }

      thead tr {
        display: table;
        table-layout: fixed;
        width: 100%;
      }

      th, td {
        border: 0.0625rem solid #1818180F;
        padding: 0.5rem;
        text-align: left;
        line-height: 1;
        height: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        box-sizing: border-box;
      }

      tbody tr {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: calc(100% / 15);
        box-sizing: border-box;
      }

      .odd-row {
        background-color: colors.$odd-row;
      }

      .even-row {
        background-color: white;
      }

      tr.selected {
        background-color: #f1f1f1;
      }

      th:nth-child(1), td:nth-child(1) {
        text-align: center;
        width: 7%;
      }
      th:nth-child(2), td:nth-child(2) {
        text-align: center;
        width: 6%;
      }
      th:nth-child(3), td:nth-child(3) {
        text-align: center;
        width: 15%;
      }
      th:nth-child(4), td:nth-child(4) {
        text-align: center;
        width: 17%;
      }
      th:nth-child(5), td:nth-child(5) {
        text-align: center;
        width: 17%;
      }
      th:nth-child(6), td:nth-child(6) {
        text-align: center;
        width: 7%;
      }
      th:nth-child(7), td:nth-child(7) {
        width: 25%;
      }
      th:nth-child(8), td:nth-child(8) {
        text-align: right;
        width: 6%;
      }

      th {
        background-color: colors.$table-header;
        font-weight: normal;
        height: 2.5vh;
        box-sizing: border-box;
      }
    }

    .modal-footer {
      flex-shrink: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1% 2%;
      margin-top: 0;

      .invisible-button {
        flex: 0 0 20%;
        background-color: white;
      }

      .restore-button {
        flex: 0 0 20%;
        background-color: colors.$primary;
        color: white;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        font-size: 1.25rem;
      }

      .pagination {
        font-size: 1.5rem;
      }
    }
  }
}
