@use "./src/renderer/styles/colors" as colors;
.order-action-bar-root {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 1rem;
  background-color: #e5e7eb; // bg-gray-200
  border-top: 0.0625rem solid #cbd5e1; // border-blue-gray-50
  text-align: center;
  overflow: hidden;
  box-sizing: border-box;


  @media (min-width: 50rem) {
    justify-content: space-between;
  }
}

.btn {
  flex:0 1 auto;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0.625rem 0;
  width: 14%;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
  border: 0.125rem solid colors.$primary;
  color:colors.$primary;
  outline: none;
  position: relative;
  box-sizing: border-box;

  &.btn-blue {
    color:colors.$primary
  }

  &.dark {
    background-color: #1f2937;
    color: #9ca3af;
    border-color: #4b5563;
  }
}

.count-wrap {
  display: flex;
  align-items: center;
  justify-content: center;

  .label {
    margin-left: 1rem;
    color: colors.$primary;
    text-align: right;
    white-space: pre-line;
  }

  .count-btn {
    max-width: 9rem;
    min-height: 3rem;
    flex:0 0 auto;
    font-size: 1.875rem; // text-3xl
    font-weight: 500;
    padding: 0.5rem 1rem;
    margin-left: 0.5rem;
    background-color: #d1d5db; // bg-gray-300
    border: 0.0625rem solid #e5e7eb;
    color: colors.$primary;
    border-radius: 0.5rem;

    &.dark {
      background-color: #1f2937;
      color: #9ca3af;
      border-color: #4b5563;
    }
  }
  .selected-btn {
    min-width: 8rem;
    max-width: 11rem;
    min-height: 3rem;
    flex:0 0 auto;
    font-size: 1.75rem;
    font-weight: 500;
    padding: 0.5rem 0.75rem;
    margin-right: 1rem;
    margin-left: 0.5rem;
    background-color: #d1d5db; // bg-gray-300
    border: 0.0625rem solid #e5e7eb;
    color: black;
    border-radius: 0.5rem;
  }
}
