.order-container {
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  border: 1px solid #e5e7eb;
  height: 100%;
  box-sizing: border-box;

  &.bg-green {
    background-color: #16a34a;
  }

  &.bg-yellow {
    background-color: #ca8a04;
  }

  &.bg-red {
    background-color: #dc2626;
  }
}

.order-header {
  display: flex;
  width: 100%;
  height: 2.5rem; // h-10

  .header-cell {
    border: 1px solid #9ca3af; // border-gray-400
    background-color: #6b7280; // bg-gray-500
    padding: 0.25rem;
    color: white;
    display: flex;
    align-items: flex-end;

    &.order-no {
      flex: 3;
      font-size: 1.5rem; // text-2xl
      justify-content: flex-start;
    }

    &.inst-time {
      flex: 4;
      font-size: 1.25rem; // text-xl
      justify-content: center;
    }

    &.diff {
      flex: 3;
      font-size: 1.25rem;
      justify-content: center;
    }
  }
}

.order-items {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 170px;
}

.order-item {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 2.25rem; // h-9
  border: none;
  color: black;
  background-color: #494949;
  box-sizing: border-box;
}

.order-row {
  display: flex;
  width: 100%;

  .order-cell {
    border: 1px solid #9ca3af;
    padding: 0.5rem;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: transparent;
    color: #222;
    &.index {
      flex: 1;
      text-align: center;
    }

    &.name {
      flex: 8;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &.qty {
      flex: 1;
      text-align: right;
    }
  }
}
