@use "./src/renderer/styles/colors" as colors;
.order-container {
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  //border: 1px solid #e5e7eb;
  border: 1px solid #9ca3af;
  height: 100%;
  border-radius: 0.5rem;
  box-sizing: border-box;
  overflow: hidden;
  &.bg-green {
    background-color: #16a34a;
  }

  &.bg-yellow {
    background-color: #ca8a04;
  }

  &.bg-red {
    background-color: #dc2626;
  }
  &.bg-white {
    background-color: white;
  }
}

.order-header {
  display: grid;
  grid-template-columns: 3fr 4fr 3fr;
  //border: 1px solid #9ca3af;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  overflow: hidden;

  .header-cell {
    padding: 0.75rem;
    background-color: colors.$primary;
    color: white;
    font-weight: 500;
    display: flex;
    align-items: center;
    font-size: 1rem;

    &.order-no {
      //font-size: 1.5rem;
      justify-content: flex-start;
    }

    &.inst-time {
      justify-content: center;
    }
    &.diff {
      justify-content: flex-end;
    }
  }
}

.order-items {
  display: flex;
  flex-direction: column;
  //overflow-y: auto;
  max-height: 170px;
  overflow-y: scroll; // 또는 auto
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}

.order-item {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 2.25rem; // h-9
  border: none;
  color: black;
  background-color: #494949;
  box-sizing: border-box;
}

.order-row {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;

  .order-cell {
    border-bottom: 1px solid #9ca3af;
    border-right: 1px solid #9ca3af;
    padding: 0.5rem;
    background-color: transparent;
    color: #1C1C1C;
    display: flex;
    align-items: center;
    justify-content: center;

    &:last-child {
      border-right: none;
    }

    &.name {
      justify-content: flex-start;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &.qty {
      justify-content: flex-end;
    }
  }
}
