@use "./src/renderer/styles/colors" as colors;
.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  padding: 3%;
  align-items: center;
  //background-color: black;
  background-color: white;
  overflow: hidden;
  box-sizing: border-box;
}

/* 상단 버튼 영역 */
.button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;

  button {
    padding: 1% 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
    &.update {
      background-color: white;
      border: 0.125rem solid colors.$primary;
      color:colors.$primary;
      font-size: 1rem;
    }
    &.master {
      background-color: colors.$primary;
      color:white;
      font-size: 1rem;
      border: none;
    }

    span {
      color: white;
      font-size: 1rem;
    }

    &:disabled {
      background-color: #d1d5db; /* gray-300 */
    }
  }
}

/* 정보 영역 */
.info-section {
  width: 100%;
  display: flex;
  margin-top:2%;
  gap: 1rem;
  justify-content: space-between;
  flex-grow: 1;

  .info-left, .info-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    span.title {
      border: 0.125rem solid var(--primary);
      border-radius: 0.5rem;
      color: colors.$primary;
      font-size: 2rem;
      font-weight: bold;
    }

    .field {
      display: flex;
      justify-content: space-between;
      margin-top: 0.1rem;
      margin-bottom: 0.1rem;
      height: 8%;
      align-items: center;
      //background-color: red;

      span {
        font-size: 1.25rem;
        color: black;
      }
      .info-title {
        font-size: 1.5rem;
        width:50%;
      }
      .value {
        font-size: 1.5rem;
        font-weight: bold;
      }
      .segment-wrapper {
        flex: 1;
        max-width: 100%;
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
      }
      .check {
        display: flex;
        flex-direction: column;
        width:50%;
      }
      .label {
        align-self: flex-end;
      }
    }
  }

  /* DropdownMenu 스타일 */
  .dropdown-container {
    display: flex;
    justify-content: space-between;

    .dropdown {
      width: 60%;
    }
  }
}

.section-list {
  margin-top:5%;
  border: 0.125rem solid #2d3748;
  border-radius: 0.5rem;
  .section-item {
    margin:2%;
    font-size: 1.25rem;
    color:white;
    border-radius: 0.25rem;
    padding:2%;
  }
  .section-item.selected {
    background-color: #3b82f6;
    font-weight: bold;
  }
}

/* 시스템 구분 설정 */
.segmented-control-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .segmented-control {
    background-color: #333333;
    color: #ff5f00;

    .selected-item {
      font-size: 1.25rem;
      color: white;
      margin-top: 0.5rem;
    }
  }
}

/* 버튼 영역 */
.action-buttons {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  width: 100%;

  button {
    width: 50%;
    padding: 1.5%;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    border: none;
    font-weight: bold;
    color: white;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
    &.cancel {
      background-color: #E1E1E1;
      color:#1C1C1C;
    }

    &.save {
      background-color: colors.$primary;
    }
  }
}
