/* 전체 화면을 커버하는 컨테이너 */
.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  padding: 3%;
  align-items: center;
  background-color: black;
  overflow: hidden;
  box-sizing: border-box;
}

/* 상단 버튼 영역 */
.button-container {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .empty-space {
    width: 5%;
  }

  button {
    padding: 1% 15px;
    border-radius: 8px;
    background-color: #f56565; /* red-500 */

    span {
      color: white;
      font-size: 1rem;
    }

    &:disabled {
      background-color: #d1d5db; /* gray-300 */
    }
  }
}

/* 정보 영역 */
.info-section {
  width: 100%;
  display: flex;
  margin-top:2%;
  gap: 16px;
  justify-content: space-between;
  flex-grow: 1;

  .info-left, .info-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;

    span.title {
      padding: 0px;
      border: 2px solid var(--primary);
      border-radius: 8px;
      color: white;
      font-size: 2rem;
      font-weight: bold;
    }

    .field {
      display: flex;
      justify-content: space-between;
      margin-top: 0.25rem;
      margin-bottom: 0.25rem;
      //background-color: red;

      span {
        font-size: 1.25rem;
        color: white;
      }
      .info-title {
        font-size: 1.5rem;
        width:50%;
      }
      .value {
        font-size: 1.5rem;
        font-weight: bold;
      }
      .segment-wrapper {
        flex: 1;
        max-width: 100%;
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
      }
      .check {
        display: flex;
        flex-direction: column;
        width:50%;
      }
      .label {
        align-self: flex-end;
      }
    }
  }

  /* DropdownMenu 스타일 */
  .dropdown-container {
    display: flex;
    justify-content: space-between;

    .dropdown {
      width: 60%;
    }
  }
}

.section-list {
  margin-top:5%;
  border: 2px solid #2d3748;
  border-radius: 0.5rem;
  .section-item {
    margin:2%;
    font-size: 1.25rem;
    color:white;
    border-radius: 0.25rem;
    padding:2%;
  }
  .section-item.selected {
    background-color: #3b82f6;
    font-weight: bold;
  }
}

/* 시스템 구분 설정 */
.segmented-control-container {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .segmented-control {
    background-color: #333333;
    color: #ff5f00;

    .selected-item {
      font-size: 1.25rem;
      color: white;
      margin-top: 8px;
    }
  }
}

/* 버튼 영역 */
.action-buttons {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 16px;

  button {
    width: 30%;
    padding: 1.5%;
    font-size: 1.5rem;
    border-radius: 8px;
    border: 2px solid #2d3748;
    font-weight: bold;
    color: white;

    &.cancel {
      background-color: #2d3748;
    }

    &.save {
      background-color: #3b82f6;
    }
  }
}
