.dialog-layout {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;

  .dialog-content {
    background: white;
    padding: 1rem;
    //border-radius: 8px;
    width: 29%;
    height: 26%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    h2 {
      flex:1;
      font-size: 1.75rem;
      font-weight: bold;
      margin: 0;
      text-align: center;
      color: #1EB5EC;
    }
    .close-button {
      width: 2rem;
      height: 2rem;
      font-size: 1.25rem;
      font-weight: bold;
      background: none;
      border: none;
      cursor: pointer;
      color:#A7A7A7;
    }
    .spacer {
      width: 2rem;
      height: 2rem;
    }
  }

  .dialog-message {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size:1.35rem;
    font-weight: bold;
  }

  .dialog-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;

    .confirm-button {
      background-color: #1EB5EC;
      color: white;
      border: none;
      padding: 10px 15px;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}

