@use "./src/renderer/styles/colors" as colors;
.dialog-layout {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;

  .dialog-content {
    background: white;
    border-radius: 0.5rem;
    width: 33%;
    height: 38%;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
  }

  .dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 2%;
    position: relative;
    border-bottom: 0.0625rem solid #9ca3af;
    background-color: colors.$primary;
    h2 {
      flex:1;
      font-size: 1.75rem;
      font-weight: bold;
      margin: 0;
      text-align: center;
      color: white;
    }
    .close-button {
      width: 2rem;
      height: 2rem;
      font-size: 1.25rem;
      font-weight: bold;
      background: none;
      border: none;
      color:white;
    }
    .spacer {
      width: 2rem;
      height: 2rem;
    }
  }

  .dialog-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size:1.5rem;
    padding-right: 2%;
    padding-left: 2%;
    height:100%;
    line-height: 1.5;
  }

  .dialog-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2%;
    padding-right: 2%;
    padding-left: 2%;

    .confirm-button {
      width: 100%;
      padding: 0.5rem;
      font-size: 1.5rem;
      font-weight: bold;
      color: white;
      background-color: colors.$primary;
      border: none;
      border-radius: 0.5rem;
      box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
    }
  }
}




