.menu {
  position: relative;
  display: inline-block;
  text-align: left;

  .menu-button {
    display: inline-flex;
    width: 15rem; // w-50
    justify-content: space-between;
    gap: 0.375rem; // gap-x-1.5
    border-radius: 0.375rem; // rounded-md
    background-color: white;
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem; // text-sm
    font-weight: 600; // font-semibold
    color: #111827; // text-gray-900
    box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.05); // shadow-xs
    border: 0.0625rem solid #9ca3af;

    .menu-selected {
      text-align: left;
      font-size: 0.875rem;
      color: #111827 !important;
      flex-grow: 1;
    }

    .menu-icon {
      margin-left: auto;
      width: 1.25rem;
      height: 1.25rem;
      color: #9ca3af;
    }
  }

  .menu-items {
    position: absolute;
    right: 0;
    z-index: 10;
    margin-top: 0.5rem; // mt-2
    width: 14rem; // w-56
    transform-origin: top right;
    border-radius: 0.375rem;
    background-color: white;
    border: 0.0625rem solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 0.625rem 1rem -0.375rem rgba(0, 0, 0, 0.1),
    0 0.25rem 0.375rem -0.125rem rgba(0, 0, 0, 0.05);
    outline: none;
  }

  .menu-item-wrapper {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  .menu-item {
    display: block;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    color: #374151;
    outline: none;
  }
}
