@use  "./src/renderer/styles/colors" as colors;
.password-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;

  .password-container {
    background-color: white;
    border-radius: 0.5rem;
    width: 33%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
  }

  .password-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 2%;
    color: white;
    background-color: colors.$primary;
    h2 {
      font-size: 1.75rem;
      font-weight: bold;
      margin: 0;
      color: white;
    }

    .close-button {
      width: 2rem;
      height: 2rem;
      font-size: 1.25rem;
      font-weight: bold;
      background: none;
      color: white;
      border: none;
    }

    .spacer {
      width: 2rem;
      height: 2rem;
    }
  }

  .password-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .error-message {
    color: #ef4444;
    font-weight: bold;
    margin: 0.5rem 0;
    height: 1.5rem;
  }

  .order-no-box {
    display: flex;
    margin: 0.5rem;
    width: 10rem;
    height: 2rem;
    border-radius: 0.75rem;
    font-size: 2rem;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 2rem;
  }

  .keypad {
    display: grid;
    grid-template-columns: repeat(3, 3rem);
    gap: 1rem;
    margin-bottom: 2rem;

    .key {
      width: 3rem;
      height: 3rem;
      border-radius: 9999px;
      background-color: #6b7280;
      color: white;
      font-size: 1.5rem;
      font-weight: bold;
      border: none;

      &:disabled {
        background-color: transparent;
        cursor: default;
      }
    }
  }

  .password-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    //margin-top: 5%;
    padding-bottom: 2%;
    padding-right: 2%;
    padding-left: 2%;
    //background-color: yellow;

    .confirm-button {
      width: 100%;
      padding: 0.5rem;
      font-size: 1.5rem;
      font-weight: bold;
      color: white;
      background-color: colors.$primary;
      border: none;
      border-radius: 0.5rem;
    }
  }
}

