.page-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  height:100%;
  padding : 1rem;
  box-sizing: border-box;
}

.order-grid {
  display: grid;
  width: 100%;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, minmax(0, 1fr));
  height: 100%;
  box-sizing: border-box;
}
