.layout-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height:100%;
  align-items: center;
  background-color: #d1d5db;
}

.layout-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
}

.order-action-bar {
  flex: 0;
  width: 100%;
}

.footer-area {
  flex: 0;
  width: 100%;
}

