.soldout-modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;

  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    height: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    .modal-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .modal-title {
        flex: 1;
        font-weight: bold;
        font-size: 1.75rem;
      }
      .modal-desc {
        flex: 1;
        font-weight: bold;
        font-size: 1.2rem;
      }

      .close-button {
        background-color: transparent;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
      }

      .btn {
        flex: 0 0 15%;
        max-width: 140px; // 화면이 너무 클 때 제한
        min-width: 70px;  // 화면이 너무 작을 때 제한
        padding: 0.25rem 0.75rem;
        text-align: center;
      }
    }
    .table-wrapper {
      display: flex;
      gap: 1rem;
      height: 80%;
      background-color: white;
      overflow-y: auto;

    }
    .data-table {
      width: 100%;
      table-layout: fixed;
      border-collapse: collapse;
      border: 1px solid #e5e7eb;

      th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
        width: auto;
        min-height: 20px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }



      th {
        background-color: #f0f0f0;
      }

      tr:hover {
        background-color: #f1f1f1;
      }
    }

    .data-table.summary {
      width: 40%;
      th:nth-child(1), td:nth-child(1) {
        text-align: center;
        width: 10%;
      }
      th:nth-child(2), td:nth-child(2) {
        text-align: center;
        width: 70%;
      }
      th:nth-child(3), td:nth-child(3) {
        text-align: center;
        width: 10%;
      }
      th:nth-child(4), td:nth-child(4) {
        text-align: center;
        width: 10%;
      }
    }
    .data-table.detail {
      width: 60%;
      th:nth-child(1), td:nth-child(1) {
        text-align: center;
        width: 10%;
      }
      th:nth-child(2), td:nth-child(2) {
        text-align: center;
        width: 20%;
      }
      th:nth-child(3), td:nth-child(3) {
        text-align: center;
        width: 45%;
      }
      th:nth-child(4), td:nth-child(4) {
        text-align: center;
        width: 10%;
      }
      th:nth-child(5), td:nth-child(5) {
        text-align: center;
        width: 15%;
      }
    }

    .modal-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;

      .restore-button {
        background-color: #3182ce; /* blue-500 */
        color: white;
        border: none;
        padding: 10px 15px;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
          background-color: #2b6cb0; /* blue-600 */
        }
      }

      .pagination {
        font-size: 1rem;
      }

      .next-button {
        background-color: #f56565; /* red-500 */
        color: white;
        border: none;
        padding: 10px 15px;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
          background-color: #e53e3e; /* red-600 */
        }
      }
    }
  }
}
